.FavoriteBook {
  display: grid;
  grid-template-columns: 1fr 2.2fr 12px;
  margin: 5px;
  margin-bottom: 7px;
  padding: 7px;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.137);
}

.FavoriteBook img {
  width: 50px;
  height: 65px;
}

.FavoriteBook p {
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  margin-left: 5px;
}

#CircleXmark {
  font-size: 14px;
  align-self: flex-start;
}

#CircleXmark:hover {
  color: black;
}

#CircleXmark:active {
  color: rgb(194, 0, 174);
}

.imageSmall {
  display: none;
}

@media (max-width: 700px) {
  .FavoriteBook p {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .FavoriteBook {
    grid-template-columns: 1fr 7px;
  }
  .FavoriteBook p {
    display: none;
  }
  .FavoriteBook img {
    margin: auto;
  }
  #CircleXmark {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .FavoriteBook {
    display: none;
  }
  .imageSmall {
    display: inline;
  }
  .imageSmall img {
    width: 45px;
    height: 70px;
    margin: 5px;
    margin-bottom: 0px;
    margin-top: 8px;
  }

  #CircleXmark {
    position: relative;
    top: -67px;
    left: -6px;
  }
}
