.MainPart {
  display: flex;
  justify-content: space-between;
  /*margin: 10px;*/
}

.allBooksList h2 {
  margin-left: 5px;
  margin-bottom: 16px;
}

.favoriteList h2 {
  margin-bottom: 16px;
}

#background {
  padding: 5px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.236);
  min-height: 101px;
}

#emptyList {
  line-height: 90px;
}

.allBooksList {
  flex-basis: 70%;
}

.favoriteList {
  flex-basis: 25%;
  text-align: center;
}

@media (max-width: 520px) {
  h2 {
    font-size: 1.2rem;
    text-align: left;
    margin-left: 5px;
    margin-top: 20px;
  }
  .MainPart {
    flex-direction: column-reverse;
  }
  .sectionForFavoritesBooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
}

@media (max-width: 750px) {
  #emptyList {
    font-size: 14px;
  }
}

@media (max-width: 730px) {
  #emptyList {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .allBooksList {
    flex-basis: 78%;
  }
  .favoriteList {
    flex-basis: 20%;
  }

  #emptyList {
    font-size: 8px;
  }
}

@media (max-width: 520px) {
  #emptyList {
    font-size: 16px;
  }
}
